
.title {
  margin: 45px auto;
//  padding-top: 30px;
  font-size: 32px;
  font-weight: 600;

  height: 40px;
}

.box {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  height: 20px;

  font-size: 20px;
  font-weight: 600;

  background-color: white;
  color: #555;
  
  border: 1px solid #d9d9d9;
  letter-spacing: .1rem;
  text-align: center;
  &:hover {
    transform: scale(1.04);
  }  
}

.pretty {
  &:hover {
    transform: scale(1.05);
  }
}

body {
  font-family: 'Noto Sans KR';
  margin: 0px auto;
  background-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

img {
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  
  &.hoverShow {
    opacity: 0;
    position: absolute;
  }

  &.hoverHide {
    opacity: 1;
    position: absolute;
  }
}

a {
  text-decoration: none;
}

div {
  margin: 0px auto;
  position: relative;
}

header {
	top: 0;
	left: 0;
	right: 0;
  
	height: 100px;
	margin-bottom: 25px;
	font-size: 24px; 
	color: #00816c;
	background: #fff;
	text-align: left;
  font-weight: 600;
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    height: inherit;

    li {
      height: inherit;

      &.left {
        float: left;
      }
  
      &.right {
        float: right;
      }

      > * {
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      right: 0;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
  
}

footer {
  height: 100px;
  padding: 10px;
  margin-top: 50px;

  font-size: 11px;
  border-top: 1px solid #d9d9d9;
  background-color: #353535;
  text-align: left;
  color: rgb(236, 236, 236);
}
