.title {
  margin: 45px auto;
  padding-left: 30px;
  font-size: 25px;
  font-weight: 500;

  height: 40px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;

  background-color: rgb(87, 87, 87);
  color: rgb(255, 255, 255);

  letter-spacing: 0.1rem;
  text-align: center;
}

.box {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  height: 20px;

  font-size: 20px;
  font-weight: 600;

  background-color: white;
  color: #555;

  border: 1px solid #d9d9d9;
  letter-spacing: 0.1rem;
  text-align: center;
  &:hover {
    transform: scale(1.04);
  }
}

.pretty {
  &:hover {
    transform: scale(1.05);
  }
}

body {
  font-family: 'Noto Sans KR';
  margin: 0px auto;
  background-color: #eeeeee;
}

#root > * {
  margin-right: 92px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

img {
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  &.hoverShow {
    opacity: 0;
    position: absolute;
  }

  &.hoverHide {
    opacity: 1;
    position: absolute;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  margin: 0px auto;
  position: relative;
}


footer {
  height: 100px;
  padding: 10px;
  margin-top: 50px;

  font-size: 11px;
  border-top: 1px solid #d9d9d9;
  background-color: #353535;
  text-align: left;
  color: rgb(236, 236, 236);
}

video.previewVideo {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0px auto;
  position: relative;
}

.tabs {
  width: calc(100% - 100px);
  padding: 0px 20px;
  margin-bottom: -10px;
  align-items: flex-start;
  justify-content: left;

  display: flex;

  font-size: 18px;
  font-weight: 400;


  letter-spacing: 0.1rem;
  text-align: center;

  button {
    background-color: transparent;
    color: #555;
    font-weight: 400;

    &.active {
      font-weight: 700;
      border-bottom: 2px solid black;
    }
  }
}