@import './index.scss';

header {
  top: 0;
  left: 0;
  right: 0;
  height: 96px;
  margin-bottom: 36px;
  
//  color: #00816c;
  background: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  
  color: #000000;
  
  opacity: 0.7;

  .logo {
    position: absolute;
    height: 46px;
    left: calc(50% - 32px);
    top: 30px;

    @media (max-width: $max-tablet-width) {
      left: 46px;
    }
  }

  .blank {
    padding-left: 64px;

    @media (max-width: $max-tablet-width) {
      padding-left: 36px;
    }
  }

  .mobileOnly {
    @media (min-width: $min-tablet-width) {
      display: none;
    }
  }

  .mobileTabletOnly {
    @media (min-width: $min-desktop-width) {
      display: none;
    }
  }

  .desktopOnly {
    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  .desktopTabletOnly {
    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }

  .tabletOnly {
    @media (max-width: $max-mobile-width) {
      display: none;
    }
    @media (min-width: $min-desktop-width) {
      display: none;
    }
  }

  .menu {
    display: flex;
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    top: 0px;

    position: absolute;
    * {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .leftmenu {
    align-items: flex-start;
    left: 0px;
    margin-left: 0;
  }

  .rightmenu {
    align-items: flex-end;
    right: 0px;
    margin-right: 0;
  }

  .search {
    width: 300px;
    flex-shrink: 1;
    border-bottom: 2px solid #555;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    height: inherit;

    li {
      height: inherit;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }

      &.center {
        float: center;
      }

      &.fill {
        @media (max-width: $max-mobile-width) {
          width: calc(100% - 300px);
        }
        @media (min-width: $min-desktop-width) {
          width: 300px;
        }
      }

      > * {
        display: block;
        text-align: center;
        text-decoration: none;
      }

    }

    .dropdown-content {
      text-align: left;
      padding: 30px;
      position: absolute;
      background-color: #f9f9f9;
      z-index: 1;
      display: block;
      width: 200px;
      @media (max-width: $max-mobile-width) {
        width: calc(100% - 60px);
      }
      right: 0;
      height: calc(100% - 60px);
      color: #333;
      .text {
        font-size: 20px;
        font-weight: 400;
        color: #555;
      }
      > * {
        padding-bottom: 10px;
      }
    }
  }
}
