$primary: #e96969;
$secondary: #444;
$hover: #222222;
$body-color: #8e8e8e;
$white: #fff;
$offwhite: #f6f6f6;
$border-color: #ececec;


.transition, .secondary-button, .secondary-button i, .hover-posts, .topBar .socialLinks a, .topBar .socialLinks a i, .top-button .menu li a, .top-button .menu li.dropdown-login .login-form input[type="submit"], .top-button .menu li.dropdown-login .login-form p a.newaccount, #navBar .top-bar .search-btn li.search i, #navBar .top-bar .search-btn li.upl-btn a, #navBar .topbar-full .search-bar-full .icon-btn i, #navBar .navBlack .topbar-light-dark .search-btn li.search i, #navBar .navBlack .topbar-light-dark .search-btn li.upl-btn a, #navBar .middleNav .search-btns li.search i, #navBar .middleNav .search-btns li.upl-btn a, #navBar .middleNav .search-btns li.login a, #premium .owl-carousel .item, #premium .owl-carousel .item figure.premium-img figcaption, .content .post .post-thumb .video-stats, .content .main-heading .tabs li.tabs-title a, .content .main-heading .tabs li.tabs-title:last-of-type a, footer .widgetBox .tagcloud a, footer .widgetBox .widgetContent form button[type="submit"], footer .widgetBox .widgetContent .secondary-button, .sidebar .widgetBox .widgetContent .profile-overview li a, .sidebar .widgetBox .tagcloud a, #carouselSlider .item .inner-item .item-title, .light-off-menu .off-social a, .light-off-menu .off-social a i, .dark-off-menu .top-button .menu li:first-of-type a, #breadcrumb .breadcrumbs li a, .SinglePostStats .media-object .author-des .subscribe button, .SinglePostStats .media-object .social-share .post-like-btn form button, .SinglePostStats .media-object .social-share .post-like-btn form button i, .singlePostDescription .description .inner-btn, .showmore_trigger span, .comments .comment-box .media-object .comment-textarea input[type="submit"], .main-comment .media-object .comment-desc .comment-btns span a, .main-comment .media-object .comment-desc .comment-btns span a i, .followers .follower button, .profile-inner .show-more-inner .show-more-btn, .profile-inner .profile-videos .profile-video .media-object .video-btns a.video-btn, .profile-inner .profile-videos .profile-video .media-object .video-btns a.video-btn i, .profile-inner .profile-videos .profile-video .media-object .video-btns button[type="submit"], .profile-inner .profile-videos .profile-video .media-object .video-btns button[type="submit"] i, .pagination a, .blog-post .blog-post-content a.blog-post-btn, .blog-post .blog-post-content .blog-post-extras .extras a, .blog-post .blog-post-content .blog-post-extras .extras .easy-share button[data-easyshare-button], .blog-post .blog-post-content .blog-post-extras .extras .easy-share button[data-easyshare-button] span, .blog-post .blog-post-content .blog-pagination a, .blog-post .blog-post-content .blog-pagination a i {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

header {
	top: 0;
	left: 0;
	right: 0;
  
	height: 50px;
	margin-bottom: 10px;
	font-size: 30px; 
	color: #006856;
	background: #fff;
	text-align: left;
	font-weight: 600;
	padding: 30px;
	
	.top-bar{
		padding: 0;
		.menu-text{
			padding: 20px 0 !important;
			margin: 0 !important;
		}
		.menu > li{
			padding-left: 30px;
		}
		.menu > li > a{
			padding: 0;
		}
		.menu > li:not(.menu-text) > a{
			padding: 32px 0;
			font-size: 13px;
			border-bottom: 2px solid transparent;
			text-transform: uppercase;
			color: #6c6c6c;
			&:hover{
				border-bottom: 2px solid $primary;
				i{
					color: $primary;
				}
			}
		}
		.menu > li:first-of-type{
			padding: 0;
		}
		li.active{
			a{
				border-bottom: 2px solid $primary !important;
				background: none;
				color: #6c6c6c;
				i{
					color: $primary;
				}
				&:hover{
					border-bottom: 2px solid $primary !important;
				}
			}
		}
		.search-btn{
			padding: 17px 0;
			margin-left: 30px;
			li.search{
				padding-left: 5px;
				i{
					display: inline-block;
					width: 40px;
					height: 40px;
					font-size: 13px;
					background: $offwhite;
					text-align: center;
					line-height: 40px;
					cursor: pointer;
					border-radius: 3px;
					border: 1px solid $border-color;
					@extend .transition;
					&:hover{
						background: $primary;
						color: $white;
					}
				}
			}
			li.search-active{
				i{
					background: $primary;
					color: $white;
				}
			}

			li.upl-btn{
				a{
					font-size: 13px;
					background: $offwhite;
					border: 1px solid $border-color;
					border-radius: 3px;
					padding: 13px 14px !important;
					@extend .transition;
					&:hover{
						background: $primary;
						color: $white;
						border: 1px solid $primary;
					}
				}
			}
		}
		.dropdown.menu{
			.submenu{
				border:none;
				border-top: 2px solid $primary;
				border-right: 1px solid $border-color;
				border-left: 1px solid $border-color;

				li{
					padding:0 !important;
					a{
						border-bottom: 1px solid $border-color !important;
						padding: 15px !important;

						i{
							color: $body-color !important;
						}
						&:hover{
							background: #f6f6f6;
							i{
								color: $primary !important;
							}
						}
					}
					&:hover{
						a{
							border-bottom: 1px solid $border-color !important;
						}
					}
				}
			}
		}

	}
	//top Bar full width
	.topbar-full{
		width: 100%;
		background: #fff;
		border: 1px solid $border-color;
		padding: 15px 50px;
		.toplogo{
			width: 11%;
			margin: 0 10px;
			.menu{
				margin: 0;
				overflow: hidden;
				li{
					padding: 0;
					a{
						padding: 0;
					}
				}
			}
		}
		.topnews{
			width: 24%;
			.newsTicker{
				width: 100%;
				i{
					display: inline-block;
					font-size: 13px;
					margin-right: 5px;
				}
				span{
					display: inline-block;
					font-size: 13px;
					border-right: 1px solid $border-color;
					margin-right: 10px;
					padding-right: 10px;
					color: #444444;
					font-weight: 600;
				}
				#newsBar{
					list-style: none;
					display: inline-block;
					margin: 0;
					li{
						display: none;
						a{
							font-size: 13px;
							color: #aaaaaa;
							&:hover{
								color: $primary;
							}
						}
					}
				}
			}
		}
		.topsearch{
			width: 40%;
		}
		.topbtn{
			width: 21%;
		}
		.search-bar-full{
			width: 100%;
			.input-group{
				margin-bottom: 0;
			}
			input[type="search"]{
				height: 30px;
				width: 100%;
				color: #aaaaaa;
				font-size: 12px;
				padding-top: 5px;
				padding-bottom: 5px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			.icon-btn {
				position: relative;

				.button {
					margin-right: 0;
					height: 30px;
					line-height: 30px;
					padding: 0 8px;
					font-size: 12px;
					text-align: left;
					background: #f6f6f6;
					color: #8e8e8e;
					width: 80px;
					border: 1px solid $border-color;
					font-weight: normal;
					text-transform: capitalize;
					border-left: 0;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
				}
				i{
					font-size: 12px;
					display: inline-block;
					right: 14px;
					top: 8px;
					position: absolute;
					@extend .transition;
				}
				&:hover {
					input{
					background: $primary;
					color: $white;
					}
					i{
						color: $white;
					}
				}
			}
		}
	}
	//topbar dark
	.topbar-dark{
		background: #303030;
		border: 1px solid #303030;
		.btn-toggle .secondary-button{
			background: #444444;
		}
		.topnews{
			.newsTicker{
				i{
					color: $primary;
				}
				span{
					border-right: 1px solid #444;
				}
			}
		}
		.topsearch{
			.search-bar-full{
				input[type="search"]{
					background: none;
					border-color: #444444;
				}
				.icon-btn {
					.button{
						background: #444444;
						border-color: #444444;
					}
				}
			}
		}
	}
	.search-bar-light{
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 75em;
		border: 1px solid $border-color;
		padding: 14px;
		background: $white;
		.search-input{
			display: inline-block;
			width: 87%;
			input[type="search"]{
				height: 50px;
				font-size: 13px;
				margin-bottom: 0;
				border-radius: 5px;
			}

		}
		.search-btn{
			display: inline-block;
			width: 13%;
			button.button{
				margin: 0;
				border-radius: 5px;
			}
		}
	}
	//dark search bar
	.search-bar-dark{
		border: 1px solid #444444;
		background: #303030;
		.search-input{
			input[type="search"]{
				background: #303030;
				border-color: #444444;
			}
		}
	}
	//navbar black
	.navBlack{
		background: #444444;
		border-color: #444444;
		.topbar-light-dark{
			background: #444444;
			ul{
				background: #444444;
			}
			.menu > li:not(.menu-text) > a{
				color: #aaaaaa;
			}
			.dropdown.menu{
				.submenu{
					border:none;
					border-top: 2px solid $primary;
					border-right: 1px solid #303030;
					border-left: 1px solid #303030;

					li{
						padding:0 !important;
						a{
							border-bottom: 1px solid #303030 !important;
							padding: 15px !important;
							background: #444 !important;
							border-bottom: 1px solid #303030 !important;

							i{
								color: $body-color !important;
							}
							&:hover{
								background: #303030 !important;

								i{
									color: $primary !important;
								}
							}
						}
						&:hover{
							a{
								border-bottom: 1px solid #444 !important;
							}
						}
					}
				}
			}
			.search-btn{
				li.search{
					i{

						background: #303030;
						border: 1px solid  #303030;
						@extend .transition;
						&:hover{
							background: $primary;
							color: $white;
						}
					}
				}
				li.search-active{
					i{
						background: $primary;
						color: $white;
					}
				}

				li.upl-btn{
					a{
						background: #303030;
						border: 1px solid #303030;
						@extend .transition;
						&:hover{
							background: $primary;
							color: $white;
							border: 1px solid $primary;
						}
					}
				}
			}

		}
	}
	//nav full version 1
	.navFull {
		.topbar-light-dark{
			.menu > li:not(.menu-text) > a {
				padding: 15px 10px !important;
				color: $white;
				&:hover {
					background: $primary;
					color: $white;
					i {
						color: $white;
					}
				}
			}
			.menu > li {
				padding-left: 2px;
			}
			li.active {
				a {
					background: $primary;
					color: $white;
					i {
						color: $white;
					}
					&:hover {
						background: $primary;
						color: $white;
						i {
							color: $white;
						}
					}
				}
			}
			.topnews{
				.newsTicker{
					width: 100%;
					padding: 11px 0;
					i{
						display: inline-block;
						font-size: 13px;
						margin-right: 5px;
						color: $primary;
					}
					span{
						font-size: 13px;
						border-right: 1px solid $white;
						margin-right: 10px;
						padding-right: 10px;
						color: #FFFFFF;
						font-weight: 600;
					}
					#newsBar{
						list-style: none;
						display: inline-block;
						margin: 0;
						li{
							display: none;
							a{
								font-size: 13px;
								color: #aaaaaa;
								&:hover{
									color: $primary;
								}
							}
						}
					}
				}
			}
		}

	}
	//navfull 2
	.navfull-v2-light{
		background: #f6f6f6;
	}
	.navFull-v2{
		.topbar-light-dark{
			.menu > li:not(.menu-text) > a {
				padding: 15px 10px !important;
				color: $white;
				&:hover {
					background: #303030;
					color: $white;
					border-bottom: 2px solid $primary;
					i {
						color: $white;
					}
				}
			}
			li.active {
				a {
					background: #303030;
					color: $white;
					border-bottom: 2px solid $primary;

					&:hover {
						background: $primary;
						color: $white;
					}
				}
			}
			.search-btn{
				padding: 9px 0 0 0;
				li.search{
					i{
						width: 30px;
						height: 30px;
						line-height: 30px;
					}
				}
			}

		}
		.top-bar-light{
			background: #f6f6f6;
			ul{
				background: #f6f6f6;
			}
			.menu > li:not(.menu-text) > a {
				padding: 15px 10px !important;
				color: #6c6c6c;
				border-bottom: none !important;
				&:hover {
					background: #444;
					color: $white;
					i {
						color: $white;
					}
				}
			}
			li.active {
				a {
					background: #444;
					color: $white !important;
					border-bottom: none !important;
				}
			}
			.dropdown.menu{
				.submenu{
					border:none;
					border-top: none;
					border-right: 1px solid #303030;
					border-left: 1px solid #303030;

					li{
						padding:0 !important;
						a{
							border-bottom: 1px solid #303030 !important;
							padding: 15px !important;
							background: #444 !important;
							border-bottom: 1px solid #303030 !important;
							color: #FFFFFF;

							i{
								color: $body-color !important;
							}
							&:hover{
								background: $primary !important;
								color: $white;

								i{
									color: $primary !important;
								}
							}
						}
						&:hover{
							a{
								border-bottom: 1px solid #444 !important;
							}
						}
					}
				}
			}
			.search-btn{
				padding: 6px 0 0 0;
				li.search{
					i{
						background: #444444;
						width: 30px;
						height: 30px;
						line-height: 30px;
						&:hover{
							background: $primary;
							border-color: $primary;
						}
					}
				}
				li.search-active{
					i{
						background: #e96969;
					}
				}
			}
		}
	}
	// middle nav
	.middleNav{
		padding: 15px 0;
		.logo{
			margin-top: 10px;
		}
		.search-btns{
			padding: 9px 0;
			li.search{
				padding-left: 5px;
				i{
					display: inline-block;
					width: 40px;
					height: 40px;
					font-size: 13px;
					background: $offwhite;
					text-align: center;
					line-height: 40px;
					cursor: pointer;
					border-radius: 3px;
					border: 1px solid $border-color;
					@extend .transition;
					&:hover{
						background: $primary;
						color: $white;
					}
				}
			}
			li.search-active{
				i{
					background: $primary;
					color: $white;
				}
			}

			li.upl-btn{
				a{
					font-size: 13px;
					background: $offwhite;
					border: 1px solid $border-color;
					border-radius: 3px;
					padding: 13px 14px !important;
					color: #6c6c6c;
					@extend .transition;
					&:hover{
						background: $primary;
						color: $white;
						border: 1px solid $primary;
					}
				}
			}
			li.login{
				a{
					font-size: 13px;
					background: $offwhite;
					border: 1px solid $border-color;
					border-radius: 3px;
					padding: 13px 14px !important;
					color: #6c6c6c;
					@extend .transition;
					margin-left: 10px;
					&:hover{
						background: $primary;
						color: $white;
						border: 1px solid $primary;
					}
				}
			}
		}
		.search-bar-light{
			top: 89px;
			z-index: 100;
		}
	}
}


.top-bar {
	padding: 0.5rem; 
}
.top-bar::before, .top-bar::after {
	content: ' ';
	display: table;
	flex-basis: 0;
	order: 1;
}
.top-bar::after {
	clear: both; 
}

.top-bar, .top-bar ul {
	background-color: #fff; 
}
.top-bar input {
	width: 200px;
	margin-right: 1rem; 
}
.top-bar .input-group-field {
	width: 100%;
	margin-right: 0; 
}
.top-bar input.button {
	width: auto; 
}

.top-bar-left {
	float: left;
}
  
.top-bar-right {
	float: right;
}
