@import './index.scss';

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: white;
  z-index: 10001;

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }

  * {
    position: absolute;
  }

  .closeButton {
    top: 24px;
    right: 52px;
    @media (min-width: $min-tablet-width) {
      display: none;
    }
  }

  .profilePart {
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;
    background: $main-gradient-opaque;

    .profileBox {
      top: 11px;
      left: 15px;
    }

    .profileName {
      top: 24px;
      left: 80px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;

      b {
        font-weight: 700;
      }
    }
  }

  .bottomPart {
    bottom: 0;
    left: 0;
    height: 72px;
    width: 100%;
    background: #EEEEEE;

    .leftButton {
      left: 24px;
      bottom: 48px;
    }
    .rightButton {
      right: 52px;
      bottom: 48px;
    }
  }

  .menuPart {
    top: 80px;
    height: calc(100% - 152px);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;

    * {
      position: relative;
    }

    > * {
      width: 100%;
    }

    .menu {
      height: 20px;
      font-size: 20px;
      padding: 12px 16px;
    }

    .title {
      height: 16px;
      font-size: 16px;
      font-weight: 500;
      color: #666666;
      padding: 16px;
      padding-bottom: 8px;
    }

    .line {
      height: 0px;
      border-bottom: 1px grey solid;
      margin: 6px 0px;
    }
  }
}

.sidebarShadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 10000;

  background: black;
}

header {
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  margin-bottom: 26px;
  position: fixed;
  z-index: 1;
  
//  color: #00816c;
  background: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  
  color: #000000;

  .logo {
    position: absolute;
    height: 49px;
    left: 130px;
    top: 17px;

    @media (max-width: $max-tablet-width) {
      left: 98px;
    }
  }

  .blank {
    padding-left: 48px;

    @media (max-width: $max-tablet-width) {
      padding-left: 36px;
    }
  }

  .mobileOnly {
    @media (min-width: $min-tablet-width) {
      display: none;
    }
  }

  .mobileTabletOnly {
    @media (min-width: $min-desktop-width) {
      display: none;
    }
  }

  .desktopOnly {
    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  .desktopTabletOnly {
    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }

  .tabletOnly {
    @media (max-width: $max-mobile-width) {
      display: none;
    }
    @media (min-width: $min-desktop-width) {
      display: none;
    }
  }

  .menu {
    display: flex;
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    top: 0px;

    position: absolute;
    * {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .leftmenu {
    left: 0px;
    margin-left: 0;
  }

  .rightmenu {
    right: 0px;
    margin-right: 0;
  }

  .search {
    width: 270px;
    flex-shrink: 1;
    //background: #dddddd;
    border-bottom: 2px solid #555;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    height: inherit;

    li {
      height: inherit;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }

      &.center {
        float: center;
      }

      &.fill {
        @media (max-width: $max-mobile-width) {
          width: calc(100% - 300px);
        }
        @media (min-width: $min-desktop-width) {
          width: 300px;
        }
      }

      > * {
        display: block;
        text-align: center;
        text-decoration: none;
      }

    }

    .dropdown-content {
      text-align: left;
      padding: 30px;
      position: absolute;
      background-color: #f9f9f9;
      z-index: 1;
      display: block;
      width: 200px;
      @media (max-width: $max-mobile-width) {
        width: calc(100% - 60px);
      }
      right: 0;
      height: calc(100% - 60px);
      color: #333;
      .text {
        font-size: 20px;
        font-weight: 400;
        color: #555;
      }
      > * {
        padding-bottom: 10px;
      }
    }
  }
}
