
// $color1: #59FF56;
$color1: #39DF36;
// $color2: #38FFDB;
$color2: #18DFBB;
$main-gradient: linear-gradient(271.11deg, $color2 0.92%, rgba(255, 255, 255, 0) 103.95%), linear-gradient(0deg, $color1, $color1);
$main-gradient-opaque: linear-gradient(271.11deg, rgba($color2, 0.3) 0.92%, rgba(255, 255, 255, 0) 103.95%), linear-gradient(0deg, rgba($color1, 0.3), rgba($color1, 0.3));

$max-mobile-width: 768px;
$min-tablet-width: 769px;
$max-tablet-width: 1024px;
$min-desktop-width: 1025px;