
// $color1: #59FF56;
$color1: #39DF36;
// $color2: #38FFDB;
$color2: #18DFBB;
$main-gradient: linear-gradient(271.11deg, $color2 0.92%, rgba(255, 255, 255, 0) 103.95%), linear-gradient(0deg, $color1, $color1);

$max-mobile-width: 768px;
$min-tablet-width: 769px;
$max-tablet-width: 1000024px;
$min-desktop-width: 1000025px;