.shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}

.gridList {
  width: 222px;
  height: 222px;
  flex-wrap: nowrap;
  display: inline-block;
}

titleText {
  font-family: 'Noto Sans KR';
  font-weight: 700;
}

titleBar {
  background: rgba(100, 100, 100, 0.54);
}

.detail {
  width: calc(100% - 100px);
  padding: 20px;

  display: block;

  font-size: 18px;
  font-weight: 400;

  background-color: white;
  color: #555;

  letter-spacing: 0.1rem;
  text-align: left;

  h1 {
    font-size: 30px;
    font-weight: 600;
  }
}