@import './index.scss';

.shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;

  .arrow {
    position: absolute;
    width: 16px;
    top: 0;
    background: #000000;
    opacity: 0.4;
    padding: 152px 24px;
  }

  .leftArrow {
    left: 0;
  }

  .rightArrow {
    right: 0;
  }

  .shelfItem {
    margin: 10px;
    width: 300px;
    height: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    

    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      left: 45px;
      padding-left: 10px;
      padding-top: 15px;
      display: flex;
      align-items: center;

      color: #000000;
    }

    .line {
      width: 100%;
      opacity: 0.08;
      border: 1px solid #000000;
    }
    
    .creator {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      left: 45px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      
      color: #999999;    
    }

    .info {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;

      color: #999999;

    }
  }
}