.zone {
    width: calc(100% - 100px);
    padding: 20px;
  
    display: block;
  
    font-size: 18px;
    font-weight: 400;
  
    background-color: white;
    color: #555;
  
    letter-spacing: 0.1rem;
    text-align: center;
  
    .fill {
      display: block;
      width: 100%;
    }
    
    input,
    textarea,
    select,
    table,
    tbody {
      margin: 10px;
      padding: 5px;
      font-size: inherit;
      font-weight: inherit;
      border: 1px;
      text-align: left;
      font-weight: bold;
      width: inherit;
      text-align: center;
    }
  
    input,
    textarea,
    select {
      border-bottom: 2px solid #555;
      background-color: white;
      padding: 5px;
      margin: 10px;
    }
  
    textarea {
      resize: none;
    }
  }