.zone {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 48px;
    width: calc(100% - 100px);
    padding: 36px 0px;
  
    display: block;
  
    text-align: center;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 52px;
    }

    div {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
    }

    background-color: white;
    color: #555;
  
//    letter-spacing: 0.1rem;
    text-align: center;
  
    .fill {
      display: block;
      width: 100%;
    }

    
    .inputbox {
      border: 1px solid #D0D0D0;
      box-sizing: border-box;
      border-radius: 24px;

      width: inherit;
      height: 48px;
      margin-bottom: 24px;
    }

    input,
    textarea,
    select,
    table,
    tbody {
      margin: 10px 24px;
      padding: 5px;
      font-size: inherit;
      font-weight: inherit;
      border: 1px;
      text-align: left;
      font-weight: bold;
      width: inherit;
      text-align: center;
    }
  
    input,
    textarea,
    select {
      width: calc(100% - 48px);
      padding: 0px;
    }

    .grey {
      color: grey;
    }

    button {
      &.submit {
        background: linear-gradient(271.11deg, #38FFDB 0.92%, rgba(255, 255, 255, 0) 103.95%), linear-gradient(0deg, #59FF56, #59FF56);
        border-radius: 32px;
        height: 48px;
        width: 256px;
      }
      min-width: 44px;
    }
  
    textarea {
      resize: none;
    }
  }