@import './index.scss';

.zone {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 48px;
    width: calc(100% - 100px);
    padding: 36px 0px;
  
    display: block;
  
    text-align: center;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
    }

    div {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
    }

    background-color: white;
    color: #555;

    &.invisible {
      background: none;
      box-shadow: none;
    }
  
//    letter-spacing: 0.1rem;
    text-align: center;
  
    .fill {
      display: block;
      width: 100%;
    }

    
    .inputbox {
      border: 1px solid #D0D0D0;
      box-sizing: border-box;
      border-radius: 24px;

      width: inherit;
      height: 48px;
      margin-bottom: 24px;
    }

    .tagify {
      border: 0px;
      margin: 3px 10px;
      
      * {
        font-size: 16px;
        font-weight: bold;
      }
    }

    input,
    textarea,
    select,
    table,
    tbody {
      margin: 10px 24px;
      padding: 5px;
      font-size: inherit;
      border: 1px;
      font-weight: bold;
      width: inherit;
      text-align: center;
    }

    td.labelColumn {
      text-align: left;
      font-size: 18px;
      font-weight: 600;
    }

    td.contentColumn {
      text-align: right;
      font-size: 18px;
      font-weight: 300;
      color: grey;
    }
    
    td.center {
      text-align: center;
    }
  
    input,
    textarea,
    select {
      width: calc(100% - 48px);
      padding: 0px;
    }

    .grey {
      color: grey;
    }

    input {
      &.underbar {
        border-bottom: 1px solid grey;
      }
    }

    button {
      &.submit {
        cursor: pointer;
        background: $main-gradient;
        border-radius: 32px;
        color: #111111;
        height: 48px;
        width: 256px;
      }
      &.mini {
        border-radius: 16px;
        height: 32px;
        width: 120px;
        padding: 0px;
        font-size: 16px;
      }
      min-width: 44px;
    }
  
    textarea {
      resize: none;
    }
  }